.container {
  display: flex;
  position: relative;
  margin: 40px auto;
}

.arrow {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 40%;
  right: 6%;
}

.list {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;

  background-color: rgb(255, 246, 236, 0.8);
  border-radius: 20px;
  border: 1px solid rgba(52, 77, 105, 0.3);
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: -1px 8px 30px 9px rgba(52, 77, 105, 0.36);
  -webkit-box-shadow: -1px 8px 30px 9px rgba(52, 77, 105, 0.2);
  -moz-box-shadow: -1px 8px 30px 9px rgba(52, 77, 105, 0.2);
  transition: all 250ms;
}

.list:hover {
  box-shadow: -1px 8px 30px 9px rgba(52, 77, 105, 0.5);
  -webkit-box-shadow: -1px 8px 30px 9px rgba(52, 77, 105, 0.3);
  -moz-box-shadow: -1px 8px 30px 9px rgba(52, 77, 105, 0.3);
}

.item {
  color: inherit;
  min-width: 220px;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  overflow: clip;
  transition: all 250ms;
}

.item:hover {
  transform: scale(1.2);
  box-shadow: -1px 28px 130px 19px rgba(52, 77, 105, 0.6);
  -webkit-box-shadow: -1px 28px 130px 19px rgba(52, 77, 105, 0.4);
}

.name {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.character {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(68, 68, 100, 0.5);
  font-weight: 700;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.cast {
  margin: auto;
  position: relative;
}

.arrow {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 40px;
  box-shadow: inset 0px 0px 12px 10px rgba(66, 68, 90, 1);
}
