.button {
  margin: 30px auto 18px auto;
  left: calc(50% - (150px / 2));
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  width: 146px;
  height: 48px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(315deg, #970037d9 0%, #0b7b7cb1 74%);
  background-size: 200% 100%;
  background-position: left;
  background-repeat: no-repeat;
  transition: 500ms;
  border-radius: 24px;
}

.button:before {
  content: 'Load more';
  color: rgba(117, 117, 117, 0.7);
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  border-radius: 20px;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  transition: all 300ms ease-out;
}

.button:hover {
  background-position: right;
}

.button:hover:before {
  color: rgba(0, 0, 0, 0.7);
}

.button:focus {
  outline: none;
}
