@import-normalize; /* bring in normalize.css styles */
/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  /* color: white;
  background-color: rgba(24, 20, 32, 0.8); */
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  color: inherit;
}
